@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
.bg-custom{
    background: linear-gradient(to right, #17b2ff, #710cff);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.navbar-brand{
    font-family: 'Playwrite MX', cursive;
    font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}
body {
  background: linear-gradient(to right, #17b2ff, #710cff); /* Warm Sunset Gradient */
}
model-viewer{
  height: 600px;
  width: 300px;
  margin: 0 auto;
}